{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<style>
.btn-stop:hover{
    background: var(--bs-border-radius-lg) !important;
    color:var(--bs-btn-hover-bg);
}
</style>
    <h1 class="h3 mb-3 fw-normal m-5">Choose Game</h1>

<main class="form-signin w-10 m-auto col-md-6">

<div class="row row-cols-1 row-cols-md-3 mb-3 text-center d-flex justify-content-around">
     <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-bg-primary border-primary">
            <h4 class="my-0 fw-normal">Memory Visuel</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">Niveau <small class="text-body-secondary fw-light">1</small></h1>
            <form  action="game" method="get" >
              <div class="form-floating mb-3">
                <select name="theme" class="form-select" id="floatingSelect" aria-label="Floating label select example">
                  <option selected>-----Open this-----</option>
                  {% for theme in themes %}
                    <option value="{{ theme.id }}">{{ theme.name }}</option>
                  {% endfor %}
                </select>
                <label for="floatingSelect">Choose a Theme</label>
              </div>
                <input type="submit" class="w-100 btn btn-lg btn-primary" value"Jouer">
              </div>
            </form>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Memory Cognitif</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">Niveau <small class="text-body-secondary fw-light">X</small></h1>
            <div class="form-floating mb-3">
              <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                <option selected>in work</option>
              </select>
            <label for="floatingSelect">Choose a Theme</label>
          </div>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary btn-stop">in coming</button>
            
          </div>
        </div>
      </div>

    </div>

    

</main>
{% endblock %}
